* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
}


/* Header */
.content-wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.logo {
	margin: 30px;
}

.search-container input[type="text"] {
    border: none;
    margin: 2px;
    outline: none;
}

.search-container {
	position: absolute;
	margin-left: 200px;
}

.button-container {
    display: flex;
	margin: 60px;
}

.button-container button {
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
}

.button-container button i {
    border: none;
}

.main-menu {
    font-family: "Causten", sans-serif;
    align-items: flex;
	margin-right: 600px;
}

.menu-list {
    list-style: none;
    position: absolute;
	background: #fff;
	width: 100px;
}

.main-menu i {
	cursor: pointer;
}

.hide {
	display: none;
}


/* Slider */
.lighblue-lady {
	height: 500px;
	width: 700px;
	background: url('images/slider.jpg') center center/cover no-repeat;
	background-size: cover;
}

.left-arrow {
	position: absolute;
	top: 34%;
	margin: 25px;
}

.right-arrow-container {
    display: flex;
    justify-content: flex-end;
}

.right-arrow {
	position: absolute;
	top: 35%;
	margin: 20px;
}

.shop-now-button {
	font-family: "Causten", sans-serif;
    display: inline-block;
    padding: 21px 80px; 
    background-color: #fff; 
    color: black; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold;
	margin: 100px;
	position: absolute;
	top: 40%;
}

.shop-now-button:hover {
    background-color: #0056b3;
}

.lady-text-1 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 22px;
	color: white; 
}

.lady-text-2 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 48px;
	color: white; 
	font-weight: bold;
}

.lady-text-3 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 22px;
	color: white; 
}

.LadyText {
	position: absolute;
	margin: 100px;
}

.progress-bars {
	text-align: center;
}

.progress-bar {
	display: inline-block;
	width: 90px; 
	height: 7px; 
	margin: -5px; 
	background-color: blue; 
}

.progress-bar.active {
	background-color: white; 

}


/* Deals */
.deal-yellow {
	width: 600px;
	margin: 52px;
}

.y-text-1 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
	color: white;
	margin: 90px;
	position: absolute;
	top: 73%;
}

.y-text-2 {
    font-family: 'Core Sans C', sans-serif;
    font-size: 34px;
    font-weight: bold;
	color: white;
	margin: 90px;
	position: absolute;
	top: 79%;
}

.y-text-3 {
    font-family: 'Core Sans C', sans-serif;
    font-size: 16px;
	color: white;
	margin: 90px;
	position: absolute;
	top: 90%;
}

.y-text-4 {
    font-family: 'Core Sans C', sans-serif;
    font-size: 20px;
    text-decoration: underline;
	color: white;
	margin: 90px;
	position: absolute;
	top: 98%;
}

.deal-purple {
	width: 600px;
	margin: 52px;

}

.p-text-1 {
    font-family: 'Core Sans C', sans-serif;
    font-size: 18px;
    font-weight: bold;
	color: white;
	margin: 90px;
	position: absolute;
	top: 126%;
}

.p-text-2 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 34px;
	color: white;
	margin: 90px;
	position: absolute;
	top: 132%;
}

.p-text-3 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 16px;
	color: white;
	margin: 90px;
	position: absolute;
	top: 146%;
}

.p-text-4 {
	font-family: 'Core Sans C', sans-serif;
	font-size: 20px;
	text-decoration: underline;
	color: white;
	margin: 90px;
	position: absolute;
	top: 151%;
}

/* New Arrival */
.new-ar-rectangle {
	width: 9px; 
	height: 40px; 
	margin: 50px;
	background-color: #8A33FD; 
}

.new-ar-rectangle-text {
	font-family: 'Core Sans C', sans-serif;
	font-size: 34px;
	margin: 80px;
	position: absolute;
	top: 174.5%;
	font-weight: bold;
}	

.new-ar-photo-1,
.new-ar-photo-2,
.new-ar-photo-3, 
.new-ar-photo-4 {
	width: 400px; 
	margin-left: 150px;
	margin-bottom: 50px;
}

.new-ar-text-1, 
.new-ar-text-2, 
.new-ar-text-3, 
.new-ar-text-4 {
	font-family: 'Causten', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.new-ar-text-1 {
	margin-left: 250px;
	position: absolute;
	top: 242%;
}


.new-ar-text-2 {
	margin-left: 280px;
	position: absolute;
	top: 295%;
}


.new-ar-text-3 {
	margin-left: 265px;
	position: absolute;
	top: 348%;
}


.new-ar-text-4 {
	margin-left: 265px;
	position: absolute;
	top: 402%;
}

/*Big Saving Zone*/
.bsz-rectangle {
	width: 9px; 
	height: 40px; 
	margin: 50px;
	background-color: #8A33FD; 
}

.bsz-rectangle-text {
	font-family: 'Core Sans C', sans-serif;
	font-size: 34px;
	margin: 80px;
	position: absolute;
	top: 404%;
	font-weight: bold;
}

.bsz-photo-1,
.bsz-photo-2,
.bsz-photo-3 {
	width: 400px;
	height: 400px;
	margin-left: 150px;
	margin-bottom: 50px;
}

.bsz-photo-4, 
.bsz-photo-5 {
	display: none;
}

.bsz-img1-text-1 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 30px;
	font-weight: bold;
	color: white; 
	margin-left: 170px;
	position: absolute;
	top: 430%;
}

.bsz-img1-text-2 {
	font-family: 'Causten', sans-serif;
    font-size: 16px;
	color: white; 
	margin-left: 170px;
	position: absolute;
	top: 440%;
}

.bsz-img1-text-3 {
	font-family: 'Causten', sans-serif;
    font-size: 20px;
	font-weight: bold;
	color: white; 
	margin-left: 170px;
	position: absolute;
	top: 446%;
}

.img-arrow-1 {
	margin-left: 230px;
	position: absolute;
	top: 453%;
}

.shop-now-button-1 {
	font-family: "Causten", sans-serif;
    display: inline-block;
    padding: 13px 35px; 
    background-color: rgba(255, 255, 255, 0.2);
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
	border: 2px solid white;
    font-weight: bold;	
	margin-left: 170px;
	position: absolute;
	top: 460%;
}

.bsz-img2-text-1 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 30px;
	font-weight: bold;
	color: white; 
	margin-left: 350px;
	position: absolute;
	top: 481%;
}

.bsz-img2-text-2 {
	font-family: 'Causten', sans-serif;
    font-size: 16px;
	color: white; 
	margin-left: 350px;
	position: absolute;
	top: 492%;
}

.bsz-img2-text-3 {
	font-family: 'Causten', sans-serif;
    font-size: 20px;
	font-weight: bold;
	color: white; 
	margin-left: 350px;
	position: absolute;
	top: 500%;
}


.img-arrow-2 {
	margin-left: 410px;
	position: absolute;
	top: 507%;
}


.shop-now-button-2 {
	font-family: "Causten", sans-serif;
    display: inline-block;
    padding: 13px 35px; 
    background-color: rgba(255, 255, 255, 0.2);
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
	border: 2px solid white;
    font-weight: bold;	
	margin-left: 350px;
	position: absolute;
	top: 514%;
}


.bsz-img3-text-1 {
	font-family: 'Core Sans C', sans-serif;
    font-size: 30px;
	font-weight: bold;
	color: white; 
	margin-left: 350px;
	position: absolute;
	top: 534%;
}

.bsz-img3-text-2 {
	font-family: 'Causten', sans-serif;
    font-size: 16px;
	color: white; 
	margin-left: 350px;
	position: absolute;
	top: 543%;
}

.bsz-img3-text-3 {
	font-family: 'Causten', sans-serif;
    font-size: 20px;
	font-weight: bold;
	color: white; 
	margin-left: 350px;
	position: absolute;
	top: 552%;
}

.img-arrow-3 {
	margin-left: 410px;
	position: absolute;
	top: 558%;
}

.shop-now-button-3 {
	font-family: "Causten", sans-serif;
    display: inline-block;
    padding: 13px 35px; 
    background-color: rgba(255, 255, 255, 0.2);
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
	border: 2px solid white;
    font-weight: bold;	
	margin-left: 350px;
	position: absolute;
	top: 565%;
}

.bsz-img4-text-1, 
.bsz-img4-text-2, 
.bsz-img4-text-3,
.img-arrow-4,
.shop-now-button-4, 
.bsz-img5-text-1, 
.bsz-img5-text-2, 
.bsz-img5-text-3,
.img-arrow-5,
.shop-now-button-5,
.shop-now-button-1_pc,
.shop-now-button-2_pc,
.shop-now-button-3_pc {
	display: none;
}	

/*Better Fashion*/
.fashion-better-img_1 {
	margin: 44px;
}

.fashion-better-img_2 {
	display: none;
}

.fashion-text-1 {
	margin: 75px;
	font-family: "Core Sans C", sans-serif;
	font-size: 34px;
	font-weight: bold;
	position: absolute;
	top: 600%;
	color: white;
}

.fashion-text-2 {
	margin: 75px;
	margin-left: 500px;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	position: absolute;
	top: 600%;
	color: white;
}

.shop-now-fashion-better {
	font-family: "Causten", sans-serif;
    display: inline-block;
    padding: 15px 50px; 
    background-color: white;
    color: black; 
    text-decoration: none; 
    border-radius: 5px; 
	border: 2px solid white;
    font-weight: bold;	
	position: absolute;
	top: 635%;
	margin: 75px;
}


/* Media queries */
@media (min-width: 680px) {
	/* Header */
    .main-menu i {
        display: none;
    }

    .main-menu {
        font-size: 17px;
    }

    .content-wrap {
        padding: 0;
    }

    .menu-list {
        position: static;
        display: flex;
        right: 0;
    }

    .menu-list li {
        margin: 0 20px;
    }

    .button-container {
		order: 3;
    }
	
	.menu-list li:first-child {
		font-weight: bold;
	}

	.menu-list li:not(:first-child) {
		font-weight: 100;
	}
	
	/* Slider */
	.lighblue-lady {
		height: 800px;
		width: 1485px;
		background: url('images/slider_pc.jpg');
	}
	
	.left-arrow {
		top: 45%;
	}

	.right-arrow {
		top: 46.3%;
	}
	
	.shop-now-button {
		margin: 150px;
		padding: 31px 130px;
		top: 65%;
	}
	
	.lady-text-1 {
		font-size: 42px;
	}

	.lady-text-2 {
		font-size: 88px;
	}

	.lady-text-3 {
		font-size: 42px;
	}

	.LadyText {
		margin: 150px;
	}
	
	/* Deals */
	.deal-yellow {
		width: 650px;
		position: absolute; 
		margin-left: 790px;
	}
	
	.deal-purple {
		width: 650px;
		position: absolute; 
		margin-right: 1000px;
		margin-top: 55px;
	}
	
	.y-text-1 {
		font-size: 26px;
		top: 106%;
		position: absolute;
		margin-left: 845px;
	}

	.y-text-2 {
		font-size: 42px;
		top: 114%;
		margin-left: 845px;
	}

	.y-text-3 {
		font-size: 24px;
		top: 126%;
		margin-left: 845px;
	}

	.y-text-4 {
		font-size: 28px;
		top: 136%;
		margin-left: 845px;
	}

	.p-text-1 {
		font-size: 28px;
		top: 110%;
	}

	.p-text-2 {
		font-size: 44px;
		top: 115%;
	}

	.p-text-3 {
		font-size: 26px;
		top: 130%;
	}

	.p-text-4 {
		font-size: 30px;
		top: 135%;
	}
	
	/* New Arrival */
	.new-ar-rectangle {
		position: absolute;
		margin-top: 500px;
	}

	.new-ar-rectangle-text {
		position: absolute;
		top: 154.5%;
	}	
	
	.new-ar-images {
		display: flex;
		flex-direction: row; 
	}

	.new-ar-photo-1,
	.new-ar-photo-2,
	.new-ar-photo-3,
	.new-ar-photo-4 {
		width: 300px;
		height: 300px;
		margin-top: 600px;
		margin-left: 60px;
		display: flex;
		flex-direction: row;
	}
	
	.new-ar-text-1 {
		margin-left: 70px;
		position: absolute;
		top: 213%;
	}

	.new-ar-text-2 {
		margin-left: 420px;
		position: absolute;
		top: 213%;
	}

	.new-ar-text-3 {
		margin-left: 770px;
		position: absolute;
		top: 213%;
	}

	.new-ar-text-4 {
		margin-left: 1140px;
		position: absolute;
		top: 213%;
	}
	
	/*Big Saving Zone*/
	.bsz-rectangle-text {
		top: 213%;
	}	
	
	.big-saving-zone-1 {
		display: flex;
		flex-direction: row;
	}
	
	.bsz-photo-1,
	.bsz-photo-2,
	.bsz-photo-3 {
		width: 400px;
		height: 400px;
		margin-left: 70px;
	}

	.bsz-img1-text-1 {
		margin-left: 100px;
		position: absolute;
		top: 240%;
	}

	.bsz-img1-text-2 {
		margin-left: 100px;
		position: absolute;
		top: 250%;
	}

	.bsz-img1-text-3 {
		margin-left: 100px;
		position: absolute;
		top: 255%;
	}

	.img-arrow-1 {
		margin-left: 150px;
		position: absolute;
		top: 260%;
	}
		
	.shop-now-button-1_pc {
		font-family: "Causten", sans-serif;
		display: inline-block;
		padding: 13px 35px; 
		background-color: rgba(255, 255, 255, 0.2);
		color: white; 
		text-decoration: none; 
		border-radius: 5px; 
		border: 2px solid white;
		font-weight: bold;	
		margin-left: 90px;
		position: absolute;
		top: 270%;
	}

	.bsz-img2-text-1 {
		margin-left: 770px;
		top: 238%;
	}

	.bsz-img2-text-2 {
		margin-left: 770px;
		top: 248%;
	}

	.bsz-img2-text-3 {
		margin-left: 770px;
		top: 255%;
	}

	.shop-now-button-2_pc {
		font-family: "Causten", sans-serif;
		display: inline-block;
		padding: 13px 35px; 
		background-color: rgba(255, 255, 255, 0.2);
		color: white; 
		text-decoration: none; 
		border-radius: 5px; 
		border: 2px solid white;
		font-weight: bold;	
		margin-left: 760px;
		position: absolute;
		top: 270%;
	}
	
	.img-arrow-2 {
		margin-left: 820px;
		top: 262%;
	}
	
	.bsz-img3-text-1 {
		margin-left: 1200px;
		top: 238%;
	}

	.bsz-img3-text-2 {
		margin-left: 1200px;
		top: 248%;
	}

	.bsz-img3-text-3 {
		margin-left: 1200px;
		top: 257%;
	}

	.shop-now-button-3_pc {
		font-family: "Causten", sans-serif;
		display: inline-block;
		padding: 13px 35px; 
		background-color: rgba(255, 255, 255, 0.2);
		color: white; 
		text-decoration: none; 
		border-radius: 5px; 
		border: 2px solid white;
		font-weight: bold;	
		margin-left: 1235px;
		position: absolute;
		top: 270%;
	}
	
	.img-arrow-3 {
		margin-left: 1295px;
		top: 264%;
	}

	.shop-now-button-1,
	.shop-now-button-2, 
	.shop-now-button-3 {
		display: none;
	}
	
	.big-saving-zone-2 {
		display: flex;
		flex-direction: row;
	}
	
	.bsz-photo-4, 
	.bsz-photo-5 {
		display: block;
		margin-left: 90px;
	}
	
	.bsz-img4-text-1 {
		display: block;
		font-family: 'Core Sans C', sans-serif;
		font-size: 35px;
		font-weight: bold;
		color: white; 
		margin-left: 380px;
		position: absolute;
		top: 287%;
		padding: 30px;
	}	 
	
	.bsz-img4-text-2 {
		display: block;
		font-family: 'Causten', sans-serif;
		font-size: 21px;
		color: white;  
		margin-left: 380px;
		position: absolute;
		top: 295%;
		padding: 30px;
	}	 
	
	.bsz-img4-text-3 {
		display: block;
		font-family: 'Causten', sans-serif;
		font-size: 25px;
		font-weight: bold;
		color: white; 
		margin-left: 380px;
		position: absolute;
		top: 300%;
		padding: 30px;
	}	
	
	.img-arrow-4 {
		display: block;
		position: absolute;
		top: 310%;
		margin-left: 480px;
	}	
	
	.shop-now-button-4 {
		display: block;
		font-family: "Causten", sans-serif;
		display: inline-block;
		padding: 13px 35px; 
		background-color: rgba(255, 255, 255, 0.2);
		color: white; 
		text-decoration: none; 
		border-radius: 5px; 
		border: 2px solid white;
		font-weight: bold;	
		position: absolute;
		top: 320%;
		margin-left: 420px;
	}	 

	
	.bsz-img5-text-1 {
		display: block;
		font-family: 'Core Sans C', sans-serif;
		font-size: 35px;
		font-weight: bold;
		color: white; 
		margin-left: 1080px;
		position: absolute;
		top: 288%;
		padding: 30px;
	}	 
	
	.bsz-img5-text-2 {
		display: block;
		font-family: 'Causten', sans-serif;
		font-size: 21px;
		color: white;  
		margin-left: 1080px;
		position: absolute;
		top: 300%;
		padding: 30px;
	}	 
	
	.bsz-img5-text-3 {
		display: block;
		font-family: 'Causten', sans-serif;
		font-size: 25px;
		font-weight: bold;
		color: white; 
		margin-left: 1080px;
		position: absolute;
		top: 310%;
		padding: 30px;
	}	
	
	.img-arrow-5 {
		display: block;
		position: absolute;
		top: 318%;
		margin-left: 1240px;
	}	
	
	.shop-now-button-5 {
		display: block;
		font-family: "Causten", sans-serif;
		display: inline-block;
		padding: 13px 35px; 
		background-color: rgba(255, 255, 255, 0.2);
		color: white; 
		text-decoration: none; 
		border-radius: 5px; 
		border: 2px solid white;
		font-weight: bold;	
		position: absolute;
		top: 323%;
		margin-left: 1200px;
	}	
	
	/*Better Fashion*/
	.fashion-better-img {
		display: flex;
		flex-direction: row;
	}
	
	.fashion-better-img_1,
	.fashion-better-img_2 {
		width: 650px;
		height: 648px;
		display: block;
		position: absolute;
	}
	
	.fashion-better-img_1 {
		margin-left: 97px;
	}
	
	.fashion-better-img_2 {
		height: 649.49px;
		position: absolute;
		margin-top: 43px;
		margin-left: 746px;
	}

	.fashion-text-1 {
		margin: 150px;
		top: 345%;
		color: white;
	}

	.fashion-text-2 {
		margin: 150px;
		margin-left: 500px;
		top: 345%;
		color: white;
	}

	.shop-now-fashion-better {	
		position: absolute;
		top: 375%;
		margin: 150px;
	}

}
@media (min-width: 765px) {
	.fashion-text-2 {
		top: 355%;
		margin-left: 150px;
	}
}

@media (min-width: 1485px) {
	/* Slider */
    .lighblue-lady {
        width: 100%;
        background: url('images/slider_pc.jpg');
    }
	
	/* Deals */
	.deal-yellow {
		position: absolute; 
		right: 0;
	}
	
	.deal-purple {
		position: absolute; 
		left: 0;
	}
	
	.y-text-1 {
		position: absolute; 
		right: 29%;
		top: 104%;
		font-size: 25px;
	}

	.y-text-2 {
		position: absolute; 
		right: 25.5%;
		top: 113%;
		font-size: 41px;
	}

	.y-text-3 {
		position: absolute; 
		right: 26%;
		top: 124.5%;
		font-size: 23px;
	}

	.y-text-4 {
		position: absolute; 
		right: 26%;
		top: 136%;
		font-size: 28px;
	}

	.p-text-1 {
		top: 110%;
		position: absolute;
		left: 0;
	}

	.p-text-2 {
		top: 115%;
		position: absolute;
		left: 0;
	}

	.p-text-3 {
		top: 130%;
		position: absolute;
		left: 0;
	}

	.p-text-4 {
		top: 135%;
		position: absolute;
		left: 0;
	}
	
	/* New-Arrival */
	.new-ar-images { 
		justify-content: center;
	}
	
	.new-ar-text-1 {
		margin-right: 1200px;
	}

	.new-ar-text-2 {
		margin-right: 880px;
	}

	.new-ar-text-3 {
		margin-right: 490px;
	}
	
	.new-ar-text-4 {
		margin-right: 190px;
	}
	
	/* Big Saving Zone */
	.big-saving-zone-1 {
		justify-content: center;
		margin-right: 50px;
	}
	
	.bsz-rectangle-text {
		top: 213%;
	}	
	
	.big-saving-zone-1 {
		display: flex;
		flex-direction: row;
	}

	.bsz-img1-text-1 {
		margin-right: 1200px;
	}

	.bsz-img1-text-2 {
		margin-right: 1160px;
	}

	.bsz-img1-text-3 {
		margin-right: 1190px;
	}
	
	.shop-now-button-1_pc {
		background-color: black;
		margin-left: 285px;
		color: white;
	}	
	
	.img-arrow-1 {
		display: none;
	}	
			
	.bsz-img2-text-1 {
		margin-right: 550px;
	}
	
	.bsz-img2-text-2,
	.bsz-img2-text-3 {
		margin-right: 500px;
	}
	
	.shop-now-button-2_pc {
		background-color: black;
	}
	
	.img-arrow-2 {
		display: none;
	}
	

	.bsz-img3-text-1 {
		margin-left: 1130px;
	}
	
	.bsz-img3-text-2 {
		margin-left: 1200px;
	}

	.bsz-img3-text-3 {
		margin-left: 1160px;
	}
	
	.shop-now-button-3_pc {
		background-color: black;
		color: white;
	}	
	
	.shop-now-3_pc {
		margin-right: 40px;
	}
	
	.img-arrow-3 {
		display: none;
	}	
	
	.big-saving-zone-2 {
		justify-content: center;
		margin-right: 50px;
	}
	
	.bsz-img4-text-1 {
		margin-right: 780px;
	}

	.bsz-img4-text-2 {
		margin-right: 840px;
	}

	.bsz-img4-text-3 {
		margin-right: 800px;
	}
	
	.img-arrow-4 {
		display: none;
	}
	
	.img-arrow-5 {
		display: none;
	}
	
	.shop-now-button-4 {
		margin-left: 500px;
	}	
	.shop-now-button-5 {
		margin-left: 1250px;
	}	
	
	/* Better Fashion*/
	.fashion-better-img {
		justify-content: center;
	}
	
	.fashion-better-img_1 {
		margin-right: 700px;
	}
	
	.fashion-better-img_2 {
		margin-right: 70px;
	}
	
}



@media (min-width: 1600px) {
	/* Slider */
	.y-text-1 {
		right: 26.3%;
	}

	.y-text-2 {
		right: 23.5%;
	}

	.y-text-3 {
		right: 24%;
	}

	.y-text-4 {
		right: 24%;
	}
	
}
@media (min-width: 1700px) {
	/*Fashion Better*/
	.shop-now-button-1_pc {
		margin-left: 240px;
	}	
	
	.shop-now-button-2_pc {
		margin-left: 900px;
	}	
	
	.shop-now-button-3_pc {
		margin-left: 1350px;
	}
}

@media (min-width: 1750px) {
	/* Slider */
	.y-text-1 {
		right: 24.5%;
	}

	.y-text-2 {
		right: 21.5%;
	}

	.y-text-3 {
		right: 22%;
	}

	.y-text-4 {
		right: 22%;
	}

	
	.shop-now-button-4 {
		margin-left: 550px;
	}	
	
	.shop-now-button-5 {
		margin-left: 1300px;
	}	
}

@media (min-width: 1800px) {
	/* Slider */
	.left-arrow {
		top: 43%;
	}
	
    .right-arrow {
		top: 43%;
	}
	
	/*Fashion Better*/
	.shop-now-button-1_pc {
		margin-left: 290px;
	}
	
	.shop-now-button-2_pc {
		margin-left: 950px;
	}
	
	.shop-now-button-3_pc {
		margin-left: 1400px;
	}
	
	.shop-now-button-4 {
		margin-left: 600px;
	}	
	.shop-now-button-5 {
		margin-left: 1400px;
	}	
}

